<?php // -*-html-*- ?>
<!-- $Id: userprefs.tmpl,v 1.1 2003/04/16 20:30:27 chregu Exp $ -->
<?php
// Todo: Move the logic and code to the plugin
// This is very experimental and the read-only part an ugly hack so far.
foreach (explode(',','errmsg,isForm') as $var) {
    if (empty($$var)) $$var = false;
}

$plugin = $request->getArg('pagename');
if ($request->isActionPage($request->getArg('pagename')) and 
    $plugin != _("PreferencesInfo")) {
    $isForm = true;
}

$time = time();
$offset = $request->getPref('timeOffset') * 3600;
$serverTime = $time - $offset;
if ( $isForm )
    $timeOffsetInput = HTML::input(array('type' => "text",
                                         'size' => 6,
                                         'maxlength' => 6,
                                         'name' => "pref[timeOffset]",
                                         'class' => "numeric",
                                         'value' => $request->getPref('timeOffset')));
else
    $timeOffsetInput = $request->getPref('timeOffset');


$RelativeDatesCB = HTML(HTML::input(array('type' => 'hidden',
                                          'name' => 'pref[relativeDates][]',
                                          'value' => '0')),
                        HTML::input(array('type' => 'checkbox',
                                          'name' => 'pref[relativeDates][]',
                                          'value' => '1',
                                          'checked' => (bool) $request->getPref('relativeDates'))));

function selectedOption ($value, $label = false) {
    return HTML::option(array('value' => $value,'selected'=>"selected"), ($label ? $label : $value) . "\n");
}
function unselectedOption ($value, $label = false) {
    return HTML::option(array('value' => $value), ($label ? $label : $value) . "\n");
}

$SelectThemes = ''; $SelectLanguages = '';
$SelectThemesDesc = ''; $SelectLanguagesDesc = '';
if ( $isForm ) {
    $SelectOptions = HTML(); 
    if (!empty($available_themes) and is_array($available_themes)) {
	if (! $request->getPref('theme'))
	    $SelectOptions->pushContent(selectedOption('',_("<system theme>")));
	else
	    $SelectOptions->pushContent(unselectedOption('',_("<system theme>")));
	foreach ($available_themes as $theme) {
	    if ($theme == $request->getPref('theme') and $theme != THEME)
		$SelectOptions->pushContent(selectedOption($theme));
	    else
		$SelectOptions->pushContent(unselectedOption($theme));
	}
	$SelectThemes = HTML::select(array('name' => "pref[theme]",'id' => 'theme'),
				     $SelectOptions);
	$SelectThemesDesc = _("Select your personal theme:");
    }
    
    $SelectOptions = HTML();
    if (!empty($available_languages) and is_array($available_languages)) {
	if (! $request->getPref('lang') )
	    $SelectOptions->pushContent(selectedOption('',_("<system language>")));
	else
	    $SelectOptions->pushContent(unselectedOption('',_("<system language>")));
	foreach ($available_languages as $lang) {
	    if ($lang == $request->getPref('lang') and $lang != DEFAULT_LANGUAGE)
		$SelectOptions->pushContent(selectedOption($lang));
	    else
		$SelectOptions->pushContent(unselectedOption($lang));
	}
	$SelectLanguages = HTML::select(array('name' => "pref[lang]",'id' => 'lang'),
					$SelectOptions);
	$SelectLanguagesDesc = _("Select your personal language:");
    } else {
	if ($SelectThemes == '') {
	    $appearance = false;
	    $SelectThemesDesc = '';
	    $SelectLanguagesDesc = '';
	}
    }
} else {
    $SelectThemesDesc = _("Personal theme:");
    $SelectLanguagesDesc = _("Personal language:");
    $SelectThemes = $request->getPref('theme');
    $SelectLanguages = $request->getPref('lang');
}

if ($errmsg) $msg = HTML(HTML::h4(array('class' => 'errors'), $errmsg),HTML::hr());
?>
<?= $errmsg ?>

<?php if ($isForm) { ?>
<form action="<?=$request->getPostURL()?>" method="post">
<?php } else { 
  $user = $request->_user; 
  $fill = "&#160;";
?>
<?= HTML::pre(sprintf("%12s: [% 10s]  %s\n",_("UserId"),$request->getPref('userid'), " from " . $request->_user->auth_how()),
	      sprintf("%12s: [% 10s]  %16s: [% 10s] | %8s: [%2s]\n","getId",$user->getId(),"getAuthenticatedId",$user->getAuthenticatedId(),"isSignedIn", $user->isSignedIn()),
	      sprintf("%12s: [% 10s]\n",_("Password"),$request->getPref('passwd')),
	      sprintf("%12s: [% 10s]  %15s: [% 8s]\n",
		      _("Auth Level"),$user->_level,_("Auth Method"),$user->_authmethod),
	      sprintf("%12s: [% 10s]\n",_("HomePage"),$user->homePage() ? $user->_homepage->_pagename : ''),
	      sprintf("%12s: [% 10s]\n",_("E-Mail"),$request->getPref('email')),
	      sprintf("%12s: [% 10s]\n",_("Notify"),$request->getPref('notifyPages')),
	      sprintf("%12s: [% 10s] %16s: [% 10s] \n",_("Theme"), $request->getPref('theme'), _("Current Theme"),$Theme->_name),
	      sprintf("%12s: [% 10s] %16s: [% 10s] \n",_("Language"),$request->getPref('lang'),_("Current Language"),$GLOBALS['LANG'])
	      ) ?>
<?php } ?>

<?php if ($isForm and !$user->isAdmin()) { ?>
  <h2><?=_("Change Password")?></h2>
     <input type="password" name="pref[passwd]" size="16" maxlength="16" class="text" value="" /> <?=_("New password")?>.<br />
     <input type="password" name="pref[passwd2]" size="16" maxlength="16" class="text" value="" /> <?=_("Type it again")?>.
<?php } ?>

  <h2><?=_("Email Notification")?></h2>
  <p><?=_("Your E-Mail:")?>
  <?php if ($isForm) { ?>
     <input type="text" name="pref[email]" size="30" maxlength="60"
	    value="<?=$request->getPref('email')?>" />
  <?php } else { ?>
     '<?= $request->getPref('email') ?>'
  <?php } ?>
  &#160;&#160;<?= _("Status:") ?>&#160;&#160;
  <?php if ($request->getPref('emailVerified')) { ?>
    <?= _("Email verified.") ?>
  <?php } else { ?>
    <?= _("Email not yet verified.") ?>
  <?php } ?>
  </p>
     <p class="hint">(<?=_("Note, that user accounts with bouncing emails will be disabled.")?>)</p>
   <p><?=_("Get an email notification at changes of the following pages:")?><br />

  <?php if ($isForm) { ?>
     &#160;<textarea name="pref[notifyPages]" cols="50" rows="5"><?=$request->getPref('notifyPages')?></textarea>
     <p class="hint">(<?=_("Enter pages seperated by space or comma. Wildcards (fileglobbing) allowed.")?>)</p>
   </p>
  <?php } else { ?>
    <?=$request->getPref('notifyPages')?>
  <?php } ?>

  <h2><?=_("Appearance")?></h2>
   <table cellspacing="5" border="1">
     <tr class="hint"><td><?= _("Default system theme:") ?></td><td><?=_("Default system language:")?></td></tr>
     <tr align="center"><td><?= THEME ?></td>    <td><?= DEFAULT_LANGUAGE ?></td></tr>
     <tr class="hint"><td><?= $SelectThemesDesc?></td><td><?=$SelectLanguagesDesc?></td></tr>
     <tr align="center"><td><?= $SelectThemes ?></td>    <td><?= $SelectLanguages ?></td></tr>
   </table>
     <p class="hint"><?=_("Here you can override site-specific default values. Currently not recommended!")?></p>

  <h2><?=_("Edit Area Size")?></h2>
  <p><?=_("Height")?>
    <?php if ($isForm) { ?>
     <input type="text" name="pref[editHeight]" size="4" maxlength="4" class="numeric"
            value="<?=$request->getPref('editHeight')?>" />
    <?php } else { ?>
      <?=$request->getPref('editHeight')?>
    <?php } ?>
    <?=_("Width")?>
    <?php if ($isForm) { ?>
     <input type="text" name="pref[editWidth]" size="4" maxlength="4" class="numeric"
            value="<?=$request->getPref('editWidth')?>" />
    <?php } else { ?>
      <?=$request->getPref('editWidth')?>
    <?php } ?>
  </p>
  <p class="hint"><?=_("Note that many browsers will automatically adjust the width of the editing area so that it fills the browser window.  In this case, the width preference will be ignored.")?></p>

  <h2><?=_("Time Zone")?></h2>
  <p>
    <?=fmt("Add %s hours to the server's local time when reporting times.",
           $timeOffsetInput)?>
  </p>
  <p class="hint">
    <?=fmt("The current time at the server is %s.",
            HTML::strong($Theme->formatDateTime($serverTime)))?>
    <?=fmt("With the current offset, this would be reported as %s.",
           HTML::strong($Theme->formatDateTime($time)))?>
  </p>

  <h2><?=_("Date Format")?></h2>
  <p><?=$RelativeDatesCB?>
     <?=_("Show relative dates using 'Today' and 'Yesterday'.")?>
  </p>

<?php if ($isForm) { ?>
  <hr />
  <p><?=Button("submit:", _("Update Preferences"), 'wikiadmin')?><?=Button("submit:cancel", _("Cancel"), 'button')?></p>

<?= HiddenInputs($request->getArgs(), false, array('pref')) ?>
</form>
<?php } ?>
