<?xml version="1.0"?>

<project name="Flux CMS Plugin generator" default="dist" basedir=".">

    <property name="pname" value="test"/>
    <property name="tablename" value="users"/>
    <property name="theme" value="3-cols"/>

    <target name="dist" depends="copyPhp, createCollection, copyXsl">
        <echo message="Plugin installed."/>
    </target>
    <target name="copyPhp">
        <copy overwrite="true" file="${BxRootDir}/inc/bx/tools/generate/skeletons/plugin.php" tofile="${BxRootDir}/inc/bx/plugins/${pname}.php">
            <filterchain>
                <replacetokens begintoken="##" endtoken="##">
                    <token key="pname" value="${pname}"/>
                    

                </replacetokens>
            </filterchain>
        </copy>
    </target>
    
      <target name="copyXsl">
        <copy overwrite="true" file="${BxRootDir}/inc/bx/tools/generate/skeletons/plugin.xsl" tofile="${BxRootDir}/themes/${theme}/${pname}.xsl">
            <filterchain>
                <replacetokens begintoken="##" endtoken="##">
                    <token key="pname" value="${pname}"/>

                </replacetokens>
            </filterchain>
        </copy>
    </target>
    
    <target name="createCollection">
    
    <php expression="bx_global::registerStream('bxconfig');new bx_collection('/${pname}/','output',true)"/>
     <copy overwrite="true" file="${BxRootDir}/inc/bx/tools/generate/skeletons/configxml" tofile="${BxRootDir}/data/${pname}/.configxml">
            <filterchain>
                <replacetokens begintoken="##" endtoken="##">
                    <token key="pname" value="${pname}"/>
                    <token key="tablename" value="${tablename}"/>
                </replacetokens>
            </filterchain>
        </copy>
    </target>
</project>
