<?xml version="1.0"?>
<bxco:config xmlns:bxco="http://bitflux.org/config/1.0">
  <bxco:fields table="bloglinkscategories" >
    <bxco:field name="name" type="text" descr="name" ></bxco:field>
    <bxco:field name="rang" type="rang" descr="rang" ></bxco:field>
    
    <bxco:field name="changed" descr="Changed" type="fixed" subtype="datetime">
      <bxco:onnew default="sql:now()"/>
      <bxco:onchange default="sql:now()"/>
    </bxco:field>
  </bxco:fields>
  <bxco:chooser rang="rang" field="name" orderby="name" descr="Choose news"/>
</bxco:config>
